/home/benjamin/Desktop/react_studio/goal-sharer/config/default.json
/home/benjamin/Desktop/react_studio/goal-sharer/.vscode
/home/benjamin/Desktop/react_studio/goal-sharer/client/node_modules
/home/benjamin/Desktop/react_studio/goal-sharer/node_modules
client/node_modules/


client/node_modules/@material-ui/core/node_modules
config/production.json

node_modules
